<div class="main-gallery-block">
  <h1 class="logo"><a href="">MyGallery</a><i class="fas fa-images"></i></h1>
  <div class="open-form-block">
    <form id="open-form">
      <div class="input-group mb-3 ">
        <input type="text" id="userInputPassword" class="form-control" placeholder="Password"
               aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <button type="submit" class="btn btn-primary px-3">enter</button>
    </form>
  </div>

  <div class="add-img-block">
    <form id="send-form">
      <div class="input-group mb-3">
        <input type="text" id="userInputImgTitle" class="form-control" placeholder="title" required>
      </div>
      <div class="input-group mb-3">
        <input type="text" id="userInputImgUrl" class="form-control" placeholder="img_url" required>
      </div>
      <button type="submit" class="btn btn-primary px-3">add</button>
    </form>
  </div>
</div>
