.logo {
  color: rgb(0, 145, 255);
  font-size: 25px;
}

.logo a {
  color: rgb(0, 145, 255);
  text-decoration: none;
  font-family: 'Sen', sans-serif;
  font-weight: bold;
  margin-right: 10px;
}

.main-gallery-block {
  max-width: 500px;
  display: block;
  margin: 150px auto;
  text-align: center;
}

.open-form-block {
  display: block;
  margin: 30px auto;
}

#cards-block {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto 100px auto;
  justify-content: left;
  align-items: center;
}

